.list-container {
    list-style-type: none;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: scroll;
    width: 27.5%;
    background: #fff;
    padding: 15px;
    height: -webkit-calc(100% - 72px);
    height:    -moz-calc(100% - 72px);
    height:         calc(100% - 72px);
    padding-bottom: 60px;

    @media screen and (max-width: 600px) {
      width: -webkit-calc(100% - 30px);
      width: -moz-calc(100% - 30px);
      width: calc(100% - 30px);
    }
}

.list-item {
    margin: 0 auto;
    border: 1px solid rgba(200, 200, 200, 0.8);
    padding: 10px;
    margin-bottom: 15px;
    width: -webkit-calc(100% - 20px);
    width:    -moz-calc(100% - 20px);
    width:         calc(100% - 20px);
    background: #fff;
    opacity: 0.9;
    border-radius: 2px;
    &.on-list {
      background: rgba(#eee, 0.5);
    }
    &:hover, &.hovered {
        cursor: pointer;
        background: #eee;
        opacity: 1;
    }
    
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        // background: #046F9E;
        background: #eee;
        outline: 3px solid #046F9E;
        // color: #fff;
        opacity: 1;
        cursor: default;
        a {
          // color: #fff !important;
        }
        button.primary {
          // background: #fff;
          // color: #046F9E;
        }
    }


    h3 {
      margin-top: 0;
    }
    .list-item__description {
      .bold {
        font-weight: 500;
      }
      p {
        margin-bottom: 10px;
        margin-top: 0px;
      }
      a {
        margin-top: 10px;
        display: inline-block;
        color: #046F9E;
        font-weight: 500;
        padding: 3px;
        padding-right: 10px;
        border-radius: 3px;
        span {
          margin-right: 5px;
          -webkit-transition: 0.2s ease;
          -moz-transition: 0.2s ease;
          -o-transition: 0.2s ease;
          transition: 0.2s ease;
        }

        &:focus {
          outline: none !important;
          box-shadow: 0 0 0 2px #fff, 0 0 0 4px #046F9E !important;
        }

        &:hover, &:focus {
          span {
            margin-right: 10px;
          }
        }

        &:after {
          // border-style: solid;
          // border-width: 0.15em 0.15em 0 0;
          // content: '';
          // display: inline-block;
          // height: 0.45em;
          // left: 0.15em;
          // position: relative;
          // top: 0.15em;
          // vertical-align: top;
          // width: 0.45em;
          // transform: rotate(45deg);
          // margin-top: 2px;

        }
      }
    }
}



.card-loader {
    background-color: #fff;
    border: 1px solid rgba(200, 200, 200, 0.8);
    padding: 8px;
    position: relative;
    height: 200px;
    overflow: hidden;
  
    &:only-child {
      margin-top:0;
    }
  
    &:before {
      content: '';
      height: 110px;
      display: block;
      background-color: #bbbbbb;
      box-shadow: -48px 78px 0 -48px #bbbbbb, -51px 102px 0 -51px #bbbbbb;
    }
  
    &:after {
      content: '';
      background-color: #333;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      animation-duration: 0.6s;
      animation-iteration-count: infinite;
      animation-name: loader-animate;
      animation-timing-function: linear;
      background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 30%, rgba(255,255,255,0) 81%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    }
  }
   
  
  // Loader animation
  @keyframes loader-animate{
   0%{
      transform: translate3d(-100%, 0, 0);
    }
   100%{
      transform: translate3d(100%, 0, 0);
    }
  }