.leaflet-container:not(.single-page-map) {
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.single-page-map {
    position: relative;
    width: 100%;
    height: 450px;
}

.icon_container {
    .development-icon {
        background: url('../../assets/development-icon.svg');
        width: 100%;
        height: 100%;
        background-size: 100%;
        transition: all .1s ease-in-out;
        &.active {
            transform: scale(1.2);
            background: url('../../assets/development-icon-active.svg');
            background-size: 100%;
        }
        &.hovered {
            transform: scale(1.2);
        }
    }
    &:hover {
        cursor: pointer;
        .development-icon {
            transform: scale(1.2);
        }
    }
}