.ReactModal__Overlay {
    z-index: 9998;

    .ReactModal__Content {
        position: absolute;
        right: 40px;
        bottom: 40px;
        border: 1px solid rgb(204, 204, 204);
        background: rgb(255, 255, 255);
        overflow: auto;
        border-radius: 4px;
        outline: none;
        padding: 20px;
        z-index: 9999;
        top: 88px !important;
        left: 15px !important;
        width: 350px;
        height: 200px;

        &.residential-modal {
            left: 161px !important;
        }
        &.gdv-modal {
            left: 395px !important;
        }
        &.stories-modal {
            left: 304px !important;
        }
        &.commercial-modal {
            left: 375px !important;
        }

        @media only screen and (max-width: 600px) {
            &.residential-modal, &.gdv-modal, &.stories-modal, &.commercial-modal {
                left: 0px !important;
            }
        }

        &:not(.commercial-modal) {
            label {
                font-weight: 600;
                font-size: 18px;
                display: inline-block;
                width: 45%;
                position: relative;
                &:first-of-type {
                    margin-right: 15px;

                    &:after {
                        content: '';
                        height: 2px;
                        width: 9px;
                        background: #333;
                        position: absolute;
                        right: -13px;
                        top: 42px;
                    }
                }
            }
            input {
                display: block;
                padding: 5px 8px;
                border: 1px solid rgba(200, 200, 200, 0.8);
                border-radius: 3px;
                font-size: 18px;
                margin-top: 5px;

                &:focus {
                    outline: none !important;
                    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #046F9E !important;
                }
                &:hover {
                    border: 1px solid rgb(180, 180, 180);
                }
            }
            input[type=number] {
                width: 90%;
            }
        }
        h2 {
            margin-top: 0;
            margin-bottom: 15px;
        }

        @media screen and (max-width: 600px) {
            width: -webkit-calc(100% - 30px);
            width: -moz-calc(100% - 30px);
            width: calc(100% - 30px);
            height: -webkit-calc(100% - 70px);
            height: -moz-calc(100% - 70px);
            height: calc(100% - 70px);
            padding: 15px !important;
            top:0 !important;
            left:0 !important;
            position: relative !important;
            margin-top: 40px;
        }
    }
}

.clear_button {
    background:#fff;
    border: none;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    padding: 3px 10px 4px 10px;
    cursor: pointer;
    opacity: 0.8;
    float: left;

    &:focus {
        outline: none !important;
        box-shadow: 0 0 0 2px #fff, 0 0 0 4px #046F9E !important;
        border-radius: 3px;
    }
    &:hover {
        opacity: 1;
    }
    &:disabled {
        cursor: no-drop;
        opacity: 1;
    }
}

.input-range {
    width: 85% !important;
    margin-left: 8px;
    margin-bottom: 13px;
    .input-range__label {
        display: none;
    }
    .input-range__slider {
        background: #046F9E;
        border: 1px solid #046F9E;
        &:focus {
            box-shadow: 0 0 0 2px #fff, 0 0 0 4px #046F9E !important;
        }
    }
    .input-range__track--active {
        background: #046F9E;
    }

    @media screen and (max-width: 600px) {
        width: 95% !important;
    }
}